@inherits LayoutComponentBase
@using Sat.Client.Components


<main class="cs-page-wrapper">
    <NavMenu />

    <SearchComponent OnSearchChanged="@SearchChanged" />

    <NavCatalogMenu/>

    @Body

</main>
