@page "/shop"
    <!-- Page content-->
    <div class="cs-sidebar-enabled">
        <div class="container">
            <div class="row">
                <!-- Start Sidebar -->
                <div class="cs-sidebar col-lg-3 pt-lg-5">
                    <div class="cs-offcanvas-collapse" id="shop-sidebar">
                        <div class="cs-offcanvas-cap navbar-box-shadow px-4 mb-3">
                            <h5 class="mt-1 mb-0">Refine your selection</h5>
                            <button class="close lead" type="button" data-toggle="offcanvas" data-offcanvas-id="shop-sidebar"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="cs-offcanvas-body px-4 pt-3 pt-lg-0 pl-lg-0 pr-lg-2 pr-xl-4" data-simplebar>
                            <!-- Categories Brand -->
                            <div class="cs-widget cs-widget-categories mb-5">
                                <h3 class="cs-widget-title">Categories Brand</h3>
                                <ul id="categories">
                                    <li>
                                        <a class="cs-widget-link" href="#clothing" data-toggle="collapse">Clothing<small class="text-muted pl-1 ml-2">235</small></a>
                                        <ul class="collapse show" id="clothing" data-parent="#categories">
                                            <li><a class="cs-widget-link" href="#">View all</a></li>
                                            <li><a class="cs-widget-link" href="#">Blazers &amp; Suits</a></li>
                                            <li><a class="cs-widget-link" href="#">Cardigans</a></li>
                                            <li><a class="cs-widget-link" href="#">Dresses</a></li>
                                            <li><a class="cs-widget-link" href="#">Hoodie &amp; Sweatshirts</a></li>
                                            <li><a class="cs-widget-link" href="#">Jackets &amp; Coats</a></li>
                                            <li><a class="cs-widget-link" href="#">Jeans</a></li>
                                            <li><a class="cs-widget-link" href="#">Lingerie</a></li>
                                            <li><a class="cs-widget-link" href="#">Sportswear</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Categories Brand -->
                            <!-- Categories Type  -->
                            <div class="cs-widget cs-widget-categories mb-5">
                                <h3 class="cs-widget-title">Categories Type </h3>
                                <ul id="types">
                                    <li>
                                        <a class="cs-widget-link" href="#clothing" data-toggle="collapse">Clothing<small class="text-muted pl-1 ml-2">235</small></a>
                                        <ul class="collapse show" id="clothing" data-parent="#types">
                                            <li><a class="cs-widget-link" href="#">View all</a></li>
                                            <li><a class="cs-widget-link" href="#">Blazers &amp; Suits</a></li>
                                            <li><a class="cs-widget-link" href="#">Cardigans</a></li>
                                            <li><a class="cs-widget-link" href="#">Dresses</a></li>
                                            <li><a class="cs-widget-link" href="#">Hoodie &amp; Sweatshirts</a></li>
                                            <li><a class="cs-widget-link" href="#">Jackets &amp; Coats</a></li>
                                            <li><a class="cs-widget-link" href="#">Jeans</a></li>
                                            <li><a class="cs-widget-link" href="#">Lingerie</a></li>
                                            <li><a class="cs-widget-link" href="#">Sportswear</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Categories Type -->
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->
                <div class="col-lg-9 cs-content py-4 mb-2 mb-sm-0 pb-sm-5">
                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item">
                                <a href="#">Shop grid</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Left sidebar</li>
                        </ol>
                    </nav>
                    <!-- Active filters-->
                    <div class="d-flex flex-wrap align-items-center mb-2">
                        <label class="mr-3 mt-1 mb-2">Your selection:</label><a class="active-filter mr-2 my-2" href="#">Clothing</a><a class="active-filter mr-2 my-2" href="#">Shirts &amp; Tops</a><a class="active-filter mr-2 my-2" href="#">Brand name</a><a class="active-filter my-2" href="#">Size</a>
                    </div>
                    <!-- Sorting + Pager-->
                    <div class="d-flex justify-content-between align-items-center py-3 mb-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <select class="form-control custom-select mr-2" style="width: 15.25rem;">
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="newness">Sort by newness</option>
                                <option value="price: low to high">Sort by price: low to high</option>
                                <option value="price: high to low">Sort by price: high to low</option>
                            </select>
                            <div class="d-none d-sm-block font-size-sm text-nowrap pl-1 mb-1">of 135 products</div>
                        </div>
                        <div class="d-none d-lg-flex justify-content-center align-items-center">
                            <label class="pr-1 mr-2">Show</label>
                            <select class="form-control custom-select mr-2" style="width: 5rem;">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="48">48</option>
                                <option value="60">60</option>
                            </select>
                            <div class="font-size-sm text-nowrap pl-1 mb-1">products per page</div>
                        </div>
                    </div>
                    <!-- Shop grid-->
                    <div class="row">
                        <!-- Item-->
                        <div class="col-md-4 col-sm-6 mb-grid-gutter">
                            <div class="card card-product card-hover">
                                <a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/01.jpg" alt="Product thumbnail" /></a>
                                <div class="card-body">
                                    <a class="meta-link font-size-xs mb-1" href="#">Men's clothing</a>
                                    <h3 class="font-size-md font-weight-medium mb-2"><a class="meta-link" href="shop-single.html">Simple Cotton Gray T-shirt</a></h3><span class="text-heading font-weight-semibold">$19.00</span>
                                </div>
                                <div class="card-footer">
                                    <div class="star-rating">
                                        <i class="sr-star fe-star-filled active"></i><i class="sr-star fe-star-filled active"></i><i class="sr-star fe-star-filled active"></i><i class="sr-star fe-star"></i><i class="sr-star fe-star"></i>
                                    </div>
                                    <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="fe-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="fe-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end row -->
                    <!-- Pagination-->
                    <div class="d-md-flex justify-content-center align-items-center pt-3 pb-2">
                        <nav class="mb-4" aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><i class="fe-chevron-left"></i></a></li>
                                <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 10</span></li>
                                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="sr-only">(current)</span></span></li>
                                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                                <li class="page-item d-none d-sm-block">...</li>
                                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">10</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><i class="fe-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
