@page "/shop"

<section class="bg-secondary">
    <div class="container pb-5 pb-md-0">
        <div class="row align-items-center pb-3 pb-md-0">
            <div class="col-md-6 col-lg-7 pb-5 pb-md-0">
                <div class="mx-auto mx-md-0" style="max-width: 595px;">
                    <img src="img/shop/main_banner.png" alt="Buy on Amazon">
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <h2>The easiest way to get it!</h2>
                <p class="font-size-sm text-muted pb-2">Lorem ipsum dolor sit amet, consectetur adipis icing elit. Veritatis eum modi, adipisci facilis.</p>
                <a class="btn btn-primary" href="shop/c/categories">View All Products</a>
            </div>
        </div>
    </div>
</section> 