@page "/500"

<div class="container d-flex flex-column justify-content-center pt-5 mt-n6" style="flex: 1 0 auto;">
    <div class="pt-7 pb-5">
        <div class="text-center mb-4 pb-4">
            <h2 class="mt-4">Something went really wrong.</h2>
            <br/>
            <h2 class="mb-4">Please contact administrator.</h2>
            <p class="pb-2">It seems we can’t find the page you are looking for.</p>
            <a class="btn btn-translucent-primary mr-3" style="border-radius:0" href="/shop">Go to Shop</a>
        </div>
    </div>
</div>

@code {

}
