@page "/unauthorized"

<div class="container d-flex flex-column justify-content-center pt-5 mt-n6" style="flex: 1 0 auto;">
    <div class="pt-7 pb-5">
        <div class="text-center mb-4 pb-4">
            <h2 class="my-4">You are not authorized.</h2>
            <a class="btn btn-translucent-primary mr-3 mt-4" style="border-radius:0" href="/shop">Go to Shop</a>
        </div>
    </div>
</div>

<h3>You are not authorized.</h3>

@code {

}
